<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Adding new User</title>
</head>
<header th:include="header.html"></header>
<body>
<form th:method="post" th:action="@{/user}" th:object="${dto}">
    <table>
        <tr>
            <td><label for="name">Enter your name: </label></td>
            <td><input type="text" th:field="*{name}" id="name" required pattern="A-Za-zА-Яа-яёЁЇїІіЄєҐґ"></td>
        </tr>
        <tr>
            <td><label for="surname">Enter your surname: </label></td>
            <td><input type="text" th:field="*{surname}" id="surname" required pattern="A-Za-zА-Яа-яёЁЇїІіЄєҐґ"/></td>
        </tr>
        <tr>
            <td><label for="age">Enter your age here: </label></td>
            <td><input type="number" th:field="*{age}" id="age" min="1" max="120" required pattern="[0-9]"/></td>
        </tr>
        <tr>
            <td>
                <label for="location" >Chose you location: </label>
                <select id="location" th:field="*{locationId}" required>
                    <option value="" selected>----SELECT CITY----</option>
                    <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Create new User"/></td>
            <td><input type="reset" value="Clear"></td>
        </tr>

    </table>
</form>
</body>
</html>