<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create new Region</title>
</head>
<header th:insert="header.html"></header>
<body>
<form th:method="post" th:action="@{/region}" th:object="${dto}">
    <table>
        <tr>
            <td><label for="name">Enter your name: </label></td>
            <td><input type="text" th:field="*{name}" id="name" required pattern="A-Za-zА-Яа-яёЁЇїІіЄєҐґ"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create new Region">
            </td>
            <td>
                <input type="reset" value="Clear">
            </td>
        </tr>
    </table>
</form>
</body>
</html>