<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit region</title>
</head>
<header th:insert="header.html"></header>
<body>
<form th:method="putch" th:action="@{/region/{id}/update(id=${region.getId()})}" th:object="${region}">
    <table>
        <tr>
            <td><label for="name">Enter your name: </label></td>
            <td><input type="text" th:field="*{name}" id="name"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create new Region">
            </td>
            <td>
                <input type="reset" value="Clear">
            </td>
        </tr>
    </table>
</form>
</body>
</html>