<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Info about region</title>
</head>
<header th:insert="header.html"></header>
<body>
<table th:object="${region}" >
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>All locations: </th>
    </tr>
    <tr>
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td>
            <select>
            <option th:each="location : ${region.getLocationInfoDtoList()}" th:text="${location}"></option>
            </select>
        </td>
    </tr>
</table>
</body>
</html>