<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new region</title>
</head>
<body>
<header>
    <a href="/src/main/webapp/WEB-INF/views/rest/region/create-region.html">Create new region</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/location/location-info.html">All locations</a>
</header>
<form method="" action="" onsubmit="test(click)">
    <label for="name">Region name: </label>
    <input type="text" id="name" required >
    <p><input type="submit"></p>
</form>
<script src="../index.js"></script>
</body>
</html>