<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update region info</title>
</head>
<body onload="getRegionForUpdate()">
<header>
    <a href="/src/main/webapp/WEB-INF/views/rest/region/create-region.html">Create new region</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/location/location-info.html">All locations</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/user/create-user.html">Create new user</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/location/create-location.html">Create locations</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/region/region-info.html">All Region</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/user/users-info.html">All Users</a>
</header>
<form>
    <table>

        <tr>
            <td>
                <label for="name"> Enter you name here: </label>
                <input id="name">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" onclick="updateRegion()">
            </td>
        </tr>
    </table>
</form>
<script src="../index.js"></script>
</body>
</html>