<div>
    <a href="/" style="font-size: 18px;display:inline-block;">
        <button>Home page</button>
    </a>
    <a href="/user/all" style="font-size: 18px;margin-left: 15px;display:inline-block;">
        <button>All Users</button>
    </a>
    <a href="/user/create" style="font-size: 18px;margin-left: 15px;display:inline-block;"g>
        <button>Create new User</button>
    </a>
    <a href="/region/create" style="font-size: 18px;margin-left: 15px;display:inline-block;">
        <button>Create new Region</button>
    </a>
    <a href="/region/all" style="font-size: 18px;margin-left: 15px;display:inline-block;">
        <button>Get all regions</button>
    </a>
    <a href="/location/create" style="font-size: 18px;margin-left: 15px;display:inline-block;">
        <button>Create location</button>
    </a>
    <a href="/location/all" style="font-size: 18px;margin-left: 15px;display:inline-block;">
        <button>Get all locations</button>
    </a>
</div>