<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about location</title>
</head>
<body onload="detailInfoAboutLocation()">
<header>
    <a href="/src/main/webapp/WEB-INF/views/rest/region/create-region.html">Create new region</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/location/location-info.html">All locations</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/user/create-user.html">Create new user</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/location/create-location.html">Create locations</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/region/region-info.html">All Region</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/user/users-info.html">All Users</a>
</header>
<table>
    <tr>
        <th>Id</th>
        <th>Name:</th>
        <th>Longitude:</th>
        <th>Latitude</th>
    </tr>
    <tr>
        <td id="id"></td>
        <td id="name"></td>
        <td id="longitude"></td>
        <td id="latitude"></td>
    </tr>
</table>
<script src="../index.js"></script>
</body>
</html>