<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="allLocation()">
<header>
    <a href="/src/main/webapp/WEB-INF/views/rest/region/create-region.html">Create new region</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/location/location-info.html">All locations</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/user/create-user.html">Create new user</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/location/create-location.html">Create locations</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/region/region-info.html">All Region</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/user/users-info.html">All Users</a>
</header>
<div>
    <table>
        <tr>
            <th style="text-align: center">
                <p>id:</p>
            </th>
            <th style="text-align: center">
                <p>name:</p>
            </th>
            <th style="text-align: center"><p>longitude</p></th>
            <th style="text-align: center"><p>latitude:</p></th>
        </tr>
        <tr id ="test">
            <td id="id" style="text-align: center"></td>
            <td id="name" style="text-align: center"></td>
            <td id="latitude" style="text-align: center"></td>
            <td id="longitude" style="text-align: center"></td>
            <td id="button"></td>
            <td id="updateButton"></td>
            <td id="deleteButton"></td>
        </tr>
    </table>
</div>
<script src="../index.js"></script>
</body>
</html>