<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update location</title>
</head>
<body onload="getValueAboutLocationForForm()">
<header>
    <a href="/src/main/webapp/WEB-INF/views/rest/region/create-region.html">Create new region</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/location/location-info.html">All locations</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/user/create-user.html">Create new user</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/location/create-location.html">Create locations</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/region/region-info.html">All Region</a>
    <a href="/src/main/webapp/WEB-INF/views/rest/user/users-info.html">All Users</a>
</header>
<form>
    <table>
        <tr>
            <td>
                <label for="name">Enter here new name: </label>
                <input id="name" type="text" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="latitude">Enter here new latitude: </label>
                <input id="latitude" type="number" step="0.01" min="0.01" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="longitude">Enter here longitude</label>
                <input id="longitude" type="number" step="0.01" min="0.01" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="button" value="Update" onclick="updateCurrentLocation()">
            </td>
        </tr>
    </table>
</form>
<script src="../index.js"></script>
</body>
</html>