<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create new Location</title>
</head>
<header th:insert="header.html"></header>
<body>
<form th:method="post" th:action="@{/location}" th:object="${dto}">
    <table>
        <tr>
            <td><label for="name">Enter location name: </label></td>
            <td><input type="text" th:field="*{locationName}" id="name" required pattern="A-Za-zА-Яа-яёЁЇїІіЄєҐґ"></td>
        </tr>
        <tr>
            <td><label for="latitude">Enter latitude here: </label></td>
            <td><input type="number" step="0.01" th:field="*{latitude}" id="latitude" required pattern="A-Za-zА-Яа-яёЁЇїІіЄєҐґ"></td>
        </tr>
        <tr>
            <td>
                <label for="longitude">Enter longitude here:</label>
            </td>
            <td>
                <input type="number" step="0.01" th:field="*{longitude}" id="longitude" required pattern="[0-9]">
            </td>
        </tr>
        <tr>
            <td><label for="location">Chose location</label></td>
            <td><select th:field="*{regionId}" id="location" required>
                <option value="">----SELECT REGION----</option>
                <option th:each="region : ${regions}" th:value="${region.getId()}" th:text="${region.getName()}">

                </option>
            </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create new Location">
            </td>
            <td>
                <input type="reset" value="Clear">
            </td>
        </tr>
    </table>
</form>
</body>
</html>